<?php

$nginx = $_SERVER["SERVER_SOFTWARE"];
$php = phpversion();

$link = mysqli_connect("localhost", "root", "{{ mysql_root_pass }}");
if (mysqli_connect_errno()) {
    printf("Connect failed: %s\n", mysqli_connect_error());
    exit();
}
$mysql = mysqli_get_server_info($link);
mysqli_close($link);

?>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Server Information</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="text-center">
				<h3>Welcome to Latest LEMP Stack!</h3>
			</div>
			<table class="table table-striped table-bordered" id="buy-positions">
				<thead>
					<tr>
						<th>Software</th>
						<th>Version</th>				
					</tr>
					<tr>
						<td>Nginx </td>
						<td><?php echo $nginx; ?></td>
					</tr>
					<tr>
						<td>PHP </td>
						<td><?php echo $php; ?></td>
					</tr>
					<tr>
						<td>MySQL </td>
						<td><?php echo $mysql; ?></td>
					</tr>
				</thead>
				<tbody id="buy-positions-result">
				</tbody>
			</table>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
